#h1{float:right;
margin-top:10px;
height:30px;
width:20%;
display:block;
font-weight:bold;
color:#585046;
font-family:Sans-serif;
font-size:12px;}
#p1
{float:right;
height:15px;
width:15px;
margin-top:11px;
margin-right: 105px;
}
#h2
{float:right;
margin-top:-35px;
margin-right:27px;
height:28px;
width:22%;
border-radius:5px;
display:block;
background-color:#0266C8;
font-family:Sans-serif;
font-size:12px;
}
#p2
{font-family:sans-serif;
color:white;
font-weight:bold;
text-align:center;
margin-top:7px;
}
#g
{margin-top:-10px;
margin-left:34%;
}
#s
{float:center;
height:28px;
width:43%;
border:1px solid #d5d2cc;
border-radius:2px;
margin-top:-115px;
margin-left:28.2%;
position:absolute;
font-size:16px;

}
#v
{float:right;
height:20px;
width:15px;
margin-left:70%;
margin-top:-108px;
position:absolute;}
#y
{float:center;
height:24px;
border:1px solid #d5d2cc;
width:105px;
margin-left:38.5%;
margin-top:-65px;
position:absolute;
background-color:#EDEDED;
border-radius:2px;
font-weight:bold;
padding-top:6px;
font-size:14px;
padding-left:6px;
padding-bottom:0px;
font-family:sans-serif;
color:#585046;
}
#i{
font-size:14px;
float:center;
height:24px;
border:1px solid #d5d2cc;
width:130px;
margin-left:48.5%;
margin-top:-65px;
position:absolute;
background-color:#EDEDED;
border-radius:2px;
font-weight:bold;
padding-top:6px;
padding-left:14px;
font-family:sans-serif;
color:#585046;
}
#f
{bottom:0;
position:fixed;
height:44px;
width:1360px;
margin-left:-10px;
background-color:#EDEDED;
margin-top:169px;
border: 2px solid #EDEDED;
color:#585046;
font-weight:Bold;
font-size:13px;
text-align:center;
font-family:sans-serif;
}
a:link{color:#585046;
text-decoration:none;}
a:hover{color:#585046;
text-decoration:underline;}
a:visited{color:#585046;}