#p1{font-weight:Bold;}
#p2{color:#cc0000;}
#p3{font-family:Cursive;}
#p4{background-color:#ededed;
height:18px;
width:120px;
text-align:center;}
#p5{border: 5px solid #000000;
height:18px;
width:120px;
text-align:center;}